@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
}

main {
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.search-container {
  position: relative;
  width: 300px;
}

#demo-positioned-button {
  font-family: 'Ubuntu', sans-serif;
}

#search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#suggestions-container {
  position: absolute;
  width: 100%;
  overflow-y: auto;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
}

#search-results li {
  padding: 2rem;
}

#search-results h3 {
  font-size: 22px;
}

#logo {
  max-width: 150px;
  padding: 10px;
}

.cover-wrapper {
  position: relative;
  width: 100%;
}

.cover-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#intro {
  text-align: center;
  margin-top: 8rem;
}

h1, h2 {

}

.intro-wrapper {
  margin: 0 auto;
}

.primary-search {
  background: #f6f6f6;
  display: flex;
  margin: 0 3rem;
}

.primary-search:hover {
  background: #e8e8e8;
}

.primary-search input {
  background: transparent;
  padding: 10px;
  min-width: 250px;
}

.primary-search button {
  padding: 0 15px;
}

.primary-search button:active {
  background: #d6d6d6;
}

.no-cover h3 {
  font-size: 25px;
}

#book-details button {
  display: block;
  border-radius: 50px;
  padding: 0.75rem 1rem;
  margin: 1rem 0;
  border: 2px solid rgb(219, 219, 219);
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}

.button-group {
  margin-top: 2rem;
  padding: 0 1rem;
}

#book-details {
 position: relative;
 display: grid;
 grid-template-columns: 1fr 3fr;
 grid-gap: 3rem;
 max-width: 60vw;
 margin: 6rem auto;
}

#book-details {
  position: relative;
}

#book-details .book-cover {
  position: sticky;
  top: 4rem;
}

.book-cover img {
  width: 100%;
  height: auto;
}

.summary {
  white-space: pre-wrap;
}